<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Petscribe</a>
</div>


<nav class="demo">
  <a href="#" class="brand">
    <span>Petscribe</span>
  </a>

  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">menu</label>

  <div class="menu">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link" href="spacewar">
            <span class="oi oi-location" aria-hidden="true"></span> Spacewar
        </NavLink>
        <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Counter
        </NavLink>
        <NavLink class="nav-link" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
  </div>
</nav>